# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# User data
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# SwiftPM
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/test_output
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# Other
.DS_Store
